{% extends 'Base.html' %} {% load static %} {% block content %}
<p> Choose image to classify </p>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type="file" name="myfile" accept="image/jpeg" multiple="multiple">
	</br>
	</br>
	<button class="button" type="submit" style="font=" Arial ";">Let's Start.</button>
</form>

{% if allBuckets %}
<!--<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>-->
<p> Classified as </br> {{ allBuckets }} </p>
{% endif %}
</br>
</br>
</br>

{% endblock %}